h1{
    color:red;
}
h3{
    color:red;
    font-style: italic;
}
ol{
    color:brown;
    line-height: 35px;
}
.span1{
    text-decoration: line-through;
    font-weight: bold;
}
.span2{
    background-color: yellow;
    font-weight: bold;
}
.span3{
    text-decoration:underline;
    font-style: italic;
}
ul{
    color:brown;
    letter-spacing: 3px;
}
p{
    color:rgb(146, 9, 9);
}
a{
    background-color: yellow;
    font-style: italic;
    color:red;
    text-decoration: none;
    font-weight: bold;
}